/*body .aboutuspage{
    margin: 0;
}*/


.about-section{
    padding: 77px;
    text-align: center;
    background-color: #DDF2FD;
    color: #164863;
    box-shadow: 10px 5px 8px 5px rgba(0,0,0,0.2);
    transition: 1s;
}

.about-section:hover{
    color: wheat;
    background-color: #164863;
    transition: 1s;
}


.member-container{
    float: left;
    width: 25%;
    margin-bottom: 16px;
   /* padding: 0; 0 8px;*/
}

.card{
    box-shadow: 10px 5px 8px 5px rgba(0,0,0,0.2);
    margin: 7px;
}

.ourteam{
    font-size: 50px;
    transition: 1s;
    -webkit-text-stroke: 1px darkblue; /* For WebKit browsers (Safari and Chrome) */
    
}

.ourteam:hover{
    transition: 1s;
    color: wheat;
    -webkit-text-stroke: 1px black; /* For WebKit browsers (Safari and Chrome) */
}

.box{
    padding: 0 16px;
}

.box::after, .member::after{
    content: "";
    clear: both;
    display: table;
}

.title{
    color: #164863;
}

.button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: wheat;
    background-color: #164863;
    text-align: center; /*for text only (Contact)*/
    cursor: pointer;
    width: 100%; 
}

.button:hover{
    background-color: wheat;
    color: #164863;
}

@media screen and (max-width: 650px) {
    .member-container {
      width: 100%;
      display: block;
    }
}


/*CSS OF FOOTER IS ON THE Home.css (file)*/