  *{
    margin: 0;
    overflow-x: hidden;
  }

    /* MAIN SECTION */
  .image-container{
    position: relative;
    /* margin: 0 100px 0 100px; */
    margin-top: -80px;
  }
  
  .intro-container{
    position: relative;
    top: 150px;
    left: 100px;

    width: 600px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    transition: all 450ms ease-in-out;
  }

  .intro-title{
    text-align: center;
    margin-bottom: 30px;
  }

  .intro-content{
    margin: 20px;
  }

  .btn-light{
    background-color: rgba(255, 255, 255, 0.8);
  }

  .readmore{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }
/*   
  .intro .readmore{
      border: none;
      border-radius: 10px;

      color: #164863;
      background-color: #9BBEC8;

      margin: 40px 2px;
      padding: 15px 32px;

      text-align: center;
      text-decoration: none;
      display: inline-block;
   
      cursor: pointer;
  }
  
  .intro .readmore:hover{
      background-color: #164863;
      color: #9BBEC8;
  } */


  /* Tutorial/Lesson----------------------------------------------------------------------------*/
  

  .rooms-container {
    display: flex;
    flex-wrap: wrap;
    margin: 14px;
  }
  
  .room-objects {
    flex: 1;
    margin: 5px;
    overflow: hidden;
    border: 1px solid #d0c8c8;
    border-radius: 7px;
    box-shadow: 0 7px 8px rgba(0,0,0,0.5);
  }
  
  .room-objects img {
    width: 100%;
    height: auto;
  }
  
  .room-content {
    padding: 10px;
    text-align: center;
  }
  
  .room-content a {
    text-decoration: none;
    color: #333;
    display: block;
    margin: 7px;
    padding: 21px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
  }

  .room-content a:hover{
    background-color: #86A789;
    color: black;
  }
  
  .room-content p {
    color: black;
    font-size: 14px;
    margin: 0;
  }
  
  /*
  .rooms a.make-room-link {
    background-color: #4caf50;
    color: #fff;
  }

  .rooms a.make-room-link:hover {
    background-color: #314d32;
    color: #fff;
  }
  
  .rooms a.make-room-link {
    flex-basis: 100%;
    background-color: #4caf50;
    color: #fff;
  } 
  */
  
  @media (max-width: 600px) {
    .room-objects{
      flex-basis: 100%;
    }
  }

  @media (max-width: 999px) {
    .intro-container{
      top: 100px;
      left: 40px;
  
      width: 550px;

      transition: all 450ms ease-in-out;
    }
  
    .txt-intro{
      font-size: 0.9rem;
    }

    .readmore{
      font-size: 1rem;
    }
  }
   
  @media (max-width: 699px) {
    .intro-container{
      top: 70px;
      left: 35px;
  
      width: 400px;

      transition: all 450ms ease-in-out;
    }
  }