.sidebar {
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;

  background-color: #111;

  overflow-x: hidden;
  transition: 0.5s;

  padding-top: 60px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar a{
  font-size: 1.2rem;
}

.sidebar .closebtn {
  position: absolute;
  top: 7px;
  right: 7px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;

  background-color: #111;
  color: white;

  padding: 10px 15px;
  margin: 10px;

  position: absolute;

  display: flex;
  justify-content: center;
  text-align: center;
}

.openbtn:hover {
  background-color: #444;
}

.question-list {
  display: flex;
  justify-content: center;
}

.sidebar-categories{
  padding: 0px 20px;
}

.forum-box{
  margin-top: 40px;
}

.question{
  padding-left: 20px;
}
.sub-categories{
  padding-left: 40px;
}

.tags a.active{
  background-color: #79AC78;
  color: black;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
}
.ask-btn{
  margin-bottom: 15px;
}

.post-box{
  box-shadow: none;

  display: flex;
  justify-content: center;

  margin: 20px;
}