*{
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-container{
  background-color: #5cdb95;
  display: flex;
  justify-content: center;

  padding: 7px 7px 0px 7px; /*equal spaces for container*/
}

.nav-container a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #edf5e1;
  padding: 5px;
  line-height: 28px;

  margin: 5px 1rem 5px 1rem; /*spaces between texts*/
}

.navigation a:hover{
  background-color: #379683;
  color: #edf5e1;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  outline-style: none;
}

.navigation a.active{
  background-color: #05386b;
  color: #edf5e1;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
}




.hamburger-icon {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0rem 1rem 1rem 1rem;
  color: #ffffff;
}
.hamburger-icon:hover{
  color: #05386b;
}
@media screen and (max-width: 750px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
  .navigation {
    display: none;
    width: 100%;
    text-align: center;
  }
  .hamburger-icon {
    display: block;
  }
  .navigation.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*
@media screen and (max-width: 560px) {

    .nav-container instead of container

    .nav-container a { 
      float: none;
      display: block;
      text-align: center;
    }
    
    navigation instead of top-nav

    .navigation {
      float: none;
    } 
  }  
*/