*{
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-container{
  background-color: rgb(43, 70, 120);
  display: flex;
  justify-content: center;
}

.nav-container a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  padding: 5px;
  line-height: 28px;
  margin: 5px;
}

.navigation a:hover{
  background-color: #ddd;
  color: black;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  outline-style: none;
}

.navigation a.active{
  background-color: #79AC78;
  color: black;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

@media screen and (max-width: 560px) {
    .container a {
      float: none;
      display: block;
      text-align: center;
    }
    
    .topnav-top {
      float: none;
    } 
  }  
