/* FOOTER */

.copyright-text, .footer{
  color: #DDF2FD;
}

h1{
font-size: 1.2rem;
margin-bottom: 20px;
}

.footer-content{
  font-size: 0.9rem;
  width: 700px;

  transition: all 450ms ease-in-out;
}

.footer{
    text-align: left;
    padding: 50px;
    background-color: #2e7466;
    transition: 1s;
  }
  
  .footer:hover{
    background-color: #379683;
    color: white;
    transition: 1s;
  }

  .copyright-text{
    text-align: center;
    font-size: 0.8rem;
    background-color: #000000;
    padding: 5px;
  }

  @media (max-width: 999px) {
    .footer-content{
      font-size: 0.8rem;
      width: 500px;

      transition: all 450ms ease-in-out;
    }
  }

  @media (max-width: 699px) {
    .footer-content{
      font-size: 0.7rem;
      width: 300px;

      transition: all 450ms ease-in-out;
    }
  }