/* FOOTER */

.copyright-text, .footer{
  color: #DDF2FD;
}

h1{
font-size: 1.2rem;
margin-bottom: 20px;
}

.footer-content{
  font-size: 0.9rem;
  width: 700px;
}

.footer{
    text-align: left;
    padding: 50px;
    background-color: #123b52;
    transition: 1s;
  }
  
  .footer:hover{
    background-color: #164863;
    color: white;
    transition: 1s;
  }

  .copyright-text{
    text-align: center;
    font-size: 0.8rem;
    background-color: #000000;
    padding: 5px;
  }